.navLink {
  display: inline-block;
  padding: 15px;
  line-height: normal;
  text-decoration: none;
  color: rgb(29, 83, 198);
  transition: all 0.3s ease;
  border-bottom: 2px solid transparent;
  font-size: 20px;
  margin-right: 5px;
}

.navLink:hover {
  background-color: rgb(29, 83, 198);
  color: white;
}
.container {
  display: flex;
  flex-direction: row;
  border: 2px rgb(67, 67, 67) solid;
  background-color: rgb(220, 220, 220);
  border-radius: 0.5rem;
}