.navLink {
  display: inline-block;
  padding: 15px;
  line-height: normal;
  text-decoration: none;
  color: rgb(29, 83, 198);
  transition: all 0.3s ease;
  border-bottom: 2px solid transparent;
  font-size: 20px;
  margin-right: 5px;
}

.navLink:hover {
  background-color: rgb(29, 83, 198);
  color: white;
}
