.container {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

.filterBy {
  margin-right: 0.2rem;
  padding: 0.2rem;
}

.filterList {
  display: flex;
  list-style-type: none;
  padding: 0.2rem;
  margin: 0.1rem;
}
